<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <a href="../public/assets/img/burger.png" />
        </div>
    </div>
    <div class="row">
    <form>
        <div class="form-group">
            <label for="burgerInput">Place your order!</label>
            <input type="password" class="form-control" id="burgerInput">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>

</div>

<h1>{{id}}</h1>
<h1>{{burger_name}}</h1>
<h1>{{devoured}}</h1>